version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:10.16
    steps:
      - checkout
      - run: npm install
      - run: npm test
      - run: npm run build
  deploy:
    docker:
      - image: circleci/node:10.16
    steps:
      - checkout
      - run: npm install
      - run:
          name: Deploy to Firebase
          command: |
            npm install -g firebase-tools
            firebase deploy --token $FIREBASE_TOKEN

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build:
          filters:
            branches:
              only: master
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
