.wrapper {
    --search-border-radius: 92px;
    --right-search-button-width: 52px;
    --top-search-space: 9px;
    --search-button-height: 46px;
    --close-button-right: 0px;
    width: 100%;
    height: 5vh;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-weight: 500;
    background: #ccbbe2;
}

.inner {
    height: 100%;
    margin: 0 1%;
    display: flex;
    align-items: center;
    width: var(--layout-width, 1150px);
    justify-content: left;
    // background-color: #ccc;
}

.font-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin-left: 30px;
    font-weight: 500;
    color: #000;
}
