.wrapper {
    --search-border-radius: 92px;
    --right-search-button-width: 52px;
    --top-search-space: 9px;
    --search-button-height: 46px;
    --close-button-right: 0px;
    width: 100%;
    height: var(--header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    display: flex;
    align-items: center;
    width: var(--layout-width, 1150px);
    justify-content: space-between;

    // background-color: #ccc;
}

.logo {
    // Con chuột hình ngón tay
    &:hover {
        cursor: pointer;
    }
}

.clear {
    position: relative;

    right: var(--close-button-right);
    color: rgba(22, 24, 35, 0.34);
    font-size: 1.45rem;
}
.loading {
    position: relative;
    top: 50%;

    right: calc(var(--close-button-right) + 15px);
    transform: translateY(-50%);

    color: rgba(22, 24, 35, 0.34);
    font-size: 1.45rem;
}

.menu {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    margin-left: 70px;
    height: 100%;
    background-color: #fff;

    ul {
        font: 1em sans-serif;
        margin: 20px;
        cursor: pointer;
    }
}

.actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    height: 100%;
    background-color: #fff;

    .search {
        background-color: #fff;
        cursor: pointer;
    }

    .button {
        background-color: #fff;
        cursor: pointer;
    }
}
